.nav {
    color: black;
    padding: 0;
}

.brand {
	font-family: inherit;
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: -1px;
    text-decoration: none;
}

.navbar-responsive {
    display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translate3d(-100%, 0, 0);
	transition: 0.3s all ease-in-out;
}
.navbar-responsive:after {
	content: "";
	z-index: -1;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
	display: flex;
	justify-content: space-between;
	height: 3.5rem;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.25);
	background-color: #fff;
}

.navbar .navbar__wrapper {
	width: 90%;
	margin: 0 auto;
}
.navbar .navbar__wrapper .navbar__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.navbar .navbar__wrapper .navbar__menu .navbar__nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.navbar .navbar__wrapper .navbar__link a,
.navbar .navbar__wrapper .navbar__brand {
	display: block;
	position: relative;
	padding: 12px;
	color: var(--color-black-500);
	font-family: inherit;
	font-weight: 500;
	text-decoration: none;
	font-size: 1.2rem;
}
.navbar .navbar__wrapper .navbar__brand {
	font-weight: 700;
	font-size: 1.2em;
}
.navbar .navbar__wrapper .navbar__brand img {
	height: 100%;
}

.navbar-responsive .navbar-responsive__nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
	text-align: center;
	letter-spacing: 2px;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: 200px;
	font-size: 1.5rem;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
	top: 50%;
	bottom: 0;
	left: 0;
}

.after-transform a {
	position: relative;
}
.after-transform a:after {
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: var(--color-pink-500);
	border-radius: 3px;

}

.menu_link {
	font-family: inherit;
	font-size: 2rem;
	font-weight: 500;
	line-height: inherit;
	cursor: pointer;
	color: var(--color-black-500);
	transition: all 0.3s ease-in-out;
}

.after-transform a.active:after, .after-transform a:hover:after {
	transform: scaleX(1) translateZ(0);
}
  
#nav-icon3 {
	width: 30px;
	height: calc(100%/2);
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
  
#nav-icon3 span {
	display: none;
	position: absolute;
	height: 5px;
	width: 100%;
	background: rgb(49, 47, 47);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}
  
#nav-icon3 span:nth-child(1) {
	top: 0px;
}
  
#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
	top: 9px;
}
  
#nav-icon3 span:nth-child(4) {
	top: 18px;
}
  
#nav-icon3.open span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}
  
#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
  
#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
  
#nav-icon3.open span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}
  
@media (max-width: 800px) {
	.navbar__nav {
	  display: none !important;
	}
  
	#nav-icon3 span {
		display: block !important;
	}

	.search-container, .section-1 {
		display: none !important;
	}
	.my-footer {
		width: 100% !important;
	}
}
@media (min-width: 600px) {
	.navbar__responsive {
	  transform: translate3d(-100%, 0, 0) !important;
	}
}